{% extends 'base.html' %}

{% block content %}
<h2>Change your details</h2>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p}}
    <button type="submit">Save changes</button>
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<p><a href="{% url 'home' %}">Home</a></p>
<p><a href="{% url 'details' %}">See your details</a></p>
<p><a href="{% url 'delete' %}">Delete your profile</a></p>
<p><a href="{% url 'logout' %}">Log out</a></p><br>
<p><a href="{% url 'settings' %}">Settings</a></p>

{% endblock %}
