{% extends 'base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <h2>Are you sure you want to delete your profile?
        Your user account won't be deleted but information about addresses and phone number will.</h2>
    <p><input type="submit" value="Confirm"></p>
</form>
<p><a href="{% url 'home' %}">Home</a></p>
<p><a href="{% url 'update_profile' %}">Update profile</a></p>
<p><a href="{% url 'details' %}">See your details</a></p>
<p><a href="{% url 'logout' %}">Log out</a></p><br>
<p><a href="{% url 'settings' %}">Settings</a></p>

{% endblock %}


